.maindiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formdiv {
  display: flex;
  flex-direction: column;
}

.formdiv textarea {
  width: 76rem;
  height: 4rem;
  padding: 1rem;
}
.formdiv button {
  width: 24%;
  align-self: center;
  margin-top: 1rem;
  height: 40px;
  background: cornflowerblue;
  border: none;
  color: white;
  font-weight: 800;
}
